<?xml version='1.0' encoding='utf-8'?>
<configuration>
  <appSettings>
    <add key="LDAPPassword" value="domainPassword" />
    <add key="LDAPPath" value="LDAP:/domain/DC=LOCAL" />
    <add key="LDAPUser" value="DomainUser" />
    <add key="ApplicationServices" value="User ID=SQLUser;Password=SQLpassword;Data Source=SQLServerName;Initial Catalog=SQLDBName;"/>
    <add key="sDomain" value="rootDomain.LOCAL"/>
    <add key="sDefaultOU" value="DC=domain,DC=LOCAL"/>
    <add key="sServiceUser" value="DomainUser"/>
    <add key="sServicePassword" value="DomainPassword"/>
  </appSettings>
  </configuration>